@page "/"
@*rock*@



<h1>Rock paper scissors</h1>
<button class="btn btn-info">Play again!</button>
<div style="display:flex; justify-content: space-around; margin-bottom:20px">
    <img src="paper" class="image" />
</div>

<div style="display:flex; justify-content: center">

    <img class="image selectable-image" src="/images/paper.jpg" alt="paper" />

    <img class="image selectable-image" src="/images/rock.jpg" alt="rock" />

    <img class="image selectable-image" src="/images/scissors.jpg" alt="scissor" />

</div>